aiofiles
aiohttp
asyncio
dnspython==2.3.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow==9.5.0
psutil
py-tgcalls==0.9.6
pykeyboard
pyrogram==2.0.106
python-dotenv
PyYAML==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
youtube-search
youtube-search-python
yt-dlp
